/*GERAL*/

:root {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    background-image: url('./../images/bg.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.principal-geral {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    background-color: #fff;
    border-radius: 24px;
    padding: 64px;
}

.texto--azul {
    color: #325AE8;
}

.botao-form {
    padding: 14px 24px;
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.botao-adicionar {
    background: #325AE8;
    color: #fff;
}

.botao-limpar {
    border-radius: 8px;
    background: #B7C3ED;
}


/*TOPO*/

.topo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.topo__titulo {
    font-size: 6.0rem;
}

.topo__brand {
    max-width: 100%;
}


/*principal*/

.principal-carrinho {
    display: flex;
    justify-content: center;
    gap: 32px;
}


/*area de adicionar produto*/

.adicionar-produto-area {
    padding: 8px;
    font-size: 2.4rem;
    color: #325AE8;
}

.adicionar-produto-area,
.carrinho {
    width: 43.33%;
    display: flex;
    gap: 32px;
    flex-direction: column;
    border: 3px solid #B7C3ED;
    padding: 8px;
}

.formulario {
    width: 100%;
    display: flex;
    gap: 32px;
    flex-direction: column;
    padding: 64px;
}

.escolha-produto,
.escolha-quantidade {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.quantidade-input,
.produto-input {
    outline: none;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #325AE8;
    font-size: 1.6rem;
    padding: 12px;
}

.area-botoes {
    display: flex;
    justify-content: center;
    gap: 16px;
}


/*Carrinho*/

.carrinho {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2.4rem;
    color: #000;
}

.carrinho__titulo {
    width: 100%;
    color: #325AE8;
    padding-bottom: 32px;
    border-bottom: 1px #325AE8 solid;
    text-align: center;
}

.carrinho__produtos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    font-size: 2rem;
    padding: 24px;
}

.carrinho__total {
    font-weight: 800;
}